.modalContainer {
  background: white;
  width: 90%;
  top: 5%;
  left: 5%;
  position: fixed;
  border-radius: 5px;
  box-shadow: 0 0 0 10px var(--link-decoration-color);
  border: 1px solid var(--link-color);
}

.modalWrapper {
  overflow: scroll;
  position: relative;
  max-height: 550px;
  padding: 4rem 2rem;
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 24px;
  background: none;
  border: none;
  text-transform: uppercase;
  color: var(--link-color);
  font-size: 2rem;
  font-weight: bold;

  &:hover {
    color: var(--link-color-dark);
    cursor: pointer;
  }
}

.modalLabel {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #999;
  letter-spacing: 0.1rem;
  margin: 0 0 0.2rem 0;
}

.modalImage {
  position: relative;
  margin: -1.5rem 0 2rem 0;
  width: 140px;
  height: auto;
}

.modalButtons {
  margin: 0 0 2rem 0;
}

.modalButton {
  background: var(--link-color) url(/ui/download-2-line-white.svg) 20px 50%
    no-repeat;
  background-size: 18px;
  color: #fff !important;
  margin: 0 1rem 1rem 0;
  padding: 0.6rem 20px 0.6rem 46px;
  border-radius: 3px;
  font-weight: bold;
  transition: background-color ease-in-out 0.15s;
  white-space: nowrap;
  display: inline-block;
  font-size: 0.8rem;

  &:hover {
    background-color: var(--link-color-dark);
    text-decoration: none;
  }
}

.modalTitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

.modalLicense {
  img {
    float: right;
    margin: 0 1rem;
  }
}

.filename {
  margin: 0 0 1rem 0;
}

.modalTags {
  margin: 0 0 2rem 0;
}

.modalTags span {
  background: var(--link-decoration-color);
  color: var(--link-color);
  margin: 0.2rem 0.2rem 0.2rem 0;
  padding: 0.2rem 1rem;
  border-radius: 100px;
  display: inline-block;
  font-size: 0.8rem;
}

.modal24pxImage {
  margin: 16px 0;
}

.modalTagsSection {
  margin-top: 2rem;
}

.nextPrevLinksWrapper {
  position: absolute;
  top: 20px;
  left: 24px;
}

.nextPrevLinksWrapper a {
  background: none;
  border: none;
  color: var(--link-color);
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 0.2rem;

  &:hover {
    color: var(--link-color-dark);
    cursor: pointer;
  }
}

.nextPrevLinksWrapper span {
  padding-right: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ccc;  
}

@media (min-width: 60rem) {
  .modalWrapper {
    max-height: none;
  }

  .modalContainer {
    background: white;
    width: 60%;
    top: 16%;
    left: 20%;
  }

  .modalWrapper {
    padding-left: 180px;
  }

  .modalImage {
    position: absolute;
    left: 56px;
    top: 4rem;
    margin: 0;
    width: 96px;
  }

  .modal24pxImage {
    position: absolute;
    left: 90px;
    width: 24px;
    height: auto;
  }
}
